


> **Sentiment Analysis:-** used to identify nature of raw text directly as positive, neutral or negative

      below is a simple intuition of Sentiment analysis

In [55]:
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer() 
a = (u'this is a BEST!!! movie and i loved it.')
sid.polarity_scores(a)
a = (u"this is bad movie very unhappy Waste of Money")
sid.polarity_scores(a)

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

{'compound': -0.8648, 'neg': 0.617, 'neu': 0.383, 'pos': 0.0}



1.   **import libraries**
2.   **import datase**t

1.  **check if data contains null values**
2.   **check if data dependent variable consist white or blank space and drop it**

In [0]:
import pandas as pd
data = pd.read_csv("Restaurant_Reviews.tsv",sep = "\t")

In [0]:
df = data[["Review"]]

In [59]:
data.isnull().sum()

Review    0
Liked     0
dtype: int64

In [60]:
df.head()

                                              Review
0                           Wow... Loved this place.
1                                 Crust is not good.
2          Not tasty and the texture was just nasty.
3  Stopped by during the late May bank holiday of...
4  The selection on the menu was great and so wer...

In [0]:
#check if there are whitespaces 
blanks = []
for ind,review in df.itertuples():
  if type(review) == str:
    if review.isspace():
      blanks.append(ind)
print(len(blanks))

#remove nan values
print(df.dropna(inplace=True))
#df.drop(blanks,inplace=True)

0
None

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':





*  **import libraries used for sentiment analysis**


*  **analyze each review and add polarity_score to newly created df['scores']**



*   **create new column for compound scores**

In [0]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()
df['scores'] = df['Review'].apply(lambda Review:sid.polarity_scores(Review))

In [0]:
df['compound'] = df['scores'].apply(lambda d:d['compound'])

In [0]:
df.head()

                                              Review  ... compound
0                           Wow... Loved this place.  ...   0.5994
1                                 Crust is not good.  ...  -0.3412
2          Not tasty and the texture was just nasty.  ...  -0.5574
3  Stopped by during the late May bank holiday of...  ...   0.6908
4  The selection on the menu was great and so wer...  ...   0.6249

[5 rows x 3 columns]



*   **manipulate df[compound]  if  compound_score<0 then 0 else 1**

In [0]:
df['comp_score'] = df['compound'].apply(lambda score: 1 if score>=0 else 0 )

In [0]:
df.head()

                                              Review  ... comp_score
0                           Wow... Loved this place.  ...          1
1                                 Crust is not good.  ...          0
2          Not tasty and the texture was just nasty.  ...          0
3  Stopped by during the late May bank holiday of...  ...          1
4  The selection on the menu was great and so wer...  ...          1

[5 rows x 4 columns]

**evalute by:-**

*   **confusion matrix**
*   **classfication score**


*   **classification report**

In [0]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [0]:
accuracy_score(df['comp_score'],data['Liked'])

0.723

In [0]:
print(classification_report(df['comp_score'],data['Liked']))

              precision    recall  f1-score   support

           0       0.48      0.93      0.63       257
           1       0.97      0.65      0.78       743

    accuracy                           0.72      1000
   macro avg       0.72      0.79      0.71      1000
weighted avg       0.84      0.72      0.74      1000