1. **Import dataset**
2. **project dataset as 'data'**

3. **number of rows and column in data via 'data.shape()''**

4.  **data.head() , prints first 5 lines of dataset**
5. **Split to dependent and independent variables**
6. **Check if empty data or white spaces in review if yes drop that** **row**

In [0]:
import pandas as pd
import numpy as np
df = pd.read_csv("tweet.csv")

In [0]:
data = df[['label','tweet']]

In [43]:
data.head()

   label                                              tweet
0      0   @user when a father is dysfunctional and is s...
1      0  @user @user thanks for #lyft credit i can't us...
2      0                                bihday your majesty
3      0  #model   i love u take with u all the time in ...
4      0             factsguide: society now    #motivation

In [44]:
data['label'].unique()

array([0, 1])

In [45]:
data['label'].value_counts()

0    29720
1     2242
Name: label, dtype: int64

In [0]:
data.dropna(inplace=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
blanks = []
for i,lb,rv in data.itertuples():
  if type(rv)==str:
    if rv.isspace():
      blanks.append(i)
#if it was true then
#data.drop(blanks,inplace=True)

In [50]:
data.isnull().sum()

label    0
tweet    0
dtype: int64

1.**Split training and test set**

2.**include pipeline**

3.**Apply tfidfvectorizer**:- it gives a score for each token which occurs frequently in dataset

4.**Fit Linear SVM**

In [0]:
X = data['tweet']
y = data['label']

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.33,random_state=43)

In [52]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
pl = Pipeline([('tfidf',TfidfVectorizer()),('clf',LinearSVC())])
pl.fit(X_train,y_train)

Pipeline(memory=None,
         steps=[('tfidf',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, use_idf=True,
                                 vocabulary=None)),
                ('clf',
                 LinearSVC(C=1.0, class_weight=None, dual=True,
                           fit_intercept=True, intercept_scaling=1,
                           loss='squared_hinge', max_iter=1000,
                           multi_class='ovr', penalty='l2', random_state=None,
                           tol=0.0001, verbose=0))],
         verbose=False)

**evaluate by:-**

1.**confusion matrix**

2.**classification report**

3.**accuracy score**

In [0]:
predicts = pl.predict(X_test)
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
print(confusion_matrix(y_test,predicts))
print(classification_report(y_test,predicts))
print(accuracy_score(y_test,predicts))

[[9757   59]
 [ 308  424]]
              precision    recall  f1-score   support

           0       0.97      0.99      0.98      9816
           1       0.88      0.58      0.70       732

    accuracy                           0.97     10548
   macro avg       0.92      0.79      0.84     10548
weighted avg       0.96      0.97      0.96     10548

0.9652066742510429

***ACCURACY 96.52066  nice***